* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: slategrey;
}

/* Caso a tela tenha ao menos 400px ira ser carregado estes estilos*/
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}
/* breakpoint */
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.menu {
  background-color: white;
  border-radius: 1vh;
  position: fixed;
  width: 100vh; /*Trocando o vh por vw ele fica colado nos cantos*/
  top: 0;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  color: rgb(29, 82, 126);
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

.site-title {
  color: whitesmoke;
  text-align: center;
  font-size: 3em;
}

.site-subtitle {
  color: azure;
  font-style: italic;
  font-size: 2em;
  text-align: center;
}

.img-portfolio {
  height: 180px;
  width: 180px;
}