* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(52, 52, 52);
}

/*html {
  background-image: url(../img/october-5-2019-goods-south-field.jpg);
  background-size: cover;
}  ESPERAR ATÉ ACHAR UMA IMAGEM LEGAL DE FUNDO*/

/* Caso a tela tenha ao menos 400px ira ser carregado estes estilos*/
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}
/* breakpoint */
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.menu {
  background-color: rgb(45, 45, 45);
  border-radius: 1vw;
  position: fixed;
  width: 80vw; /*Trocando o vh por vw ele fica colado nos cantos*/
  top: 0;
  justify-content: center;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  color: white;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1em;
  transition: backgound-color 1s;
}

.menu a:hover,
.menu a:active {
  background-color: whitesmoke;
  color: rgb(40, 40, 40);
}

.titulo {
  transform: scale(0.2) translatey(45vh);
  opacity: 0;
  animation: linear 2s Tituloanimation forwards;
}

@keyframes Tituloanimation{
  100% {
    transform: scale(1) translatey(0);
    opacity: 1;
  }
}

.site-title {
  color: whitesmoke;
  text-align: center;
  font-size: 3em;
}

.site-subtitle {
  color: azure;
  font-style: italic;
  font-size: 2em;
  text-align: center;
}

.portfolio {
  color: whitesmoke;
  padding: 2em;
  margin-bottom: 1em;
  font-size: 1em;
  min-height: 100vh;
}

.portfolio h2 {
  text-align: center;
  font-size: 2em;
  padding: 25px;
}

.portfolio .grid {
  justify-content: center;
  align-content: center;
  display: grid;
  gap: 2em;
  grid-template-columns: 260px 260px;
  background-color: rgb(45, 45, 45);
  border-radius: 10vh;
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  height: 200px;
  width: 220px;
  border-radius: 1vw;
  object-fit: cover;
  transition: .5ms;
}

.img-portfolio:hover {
  transform: scale(1.1);
}

@media (min-width: 1200px) {
  .img-portfolio {
    height: 200px;
    width: 240px;
    border-radius: 1vw;
  }
}

.contato .icons{
  text-align: center;
}

.contato h2 {
  font-size: 2em;
  color: whitesmoke;
}

.contato a {
  color: rgb(32, 32, 32);
  font-size: 4em;
  transition: text-shadow .2ms;
}

.contato a:hover, 
.contato a:active {
  text-shadow: 5px 4px 5px rgb(40, 40, 40);
  text-decoration: none;
}
